body, html {
	height: 100%;
	margin: 0;
	color:white;
	}

/*background {
	background: black;
	opacity: 0.5;
}*/

.hero-image {
  background-image: url("http://www.wallpapersbrowse.com/images/iy/iywrdrm.jpg");
  height: 24%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header, footer {
    color: white;
    text-align: center;
}

article {
    margin-left: 10%;

    overflow: hidden;
}

.transbox {
	margin: auto;
	width: 50%;
	height:80%;
  background-color: lightblue;
  border: 3px solid #4d79ff;
  opacity: 0.85;
	position: absolute;
	left: 24%;
  bottom: 0;
}

.transbox h1 {
 Margin-top: 6%;
 color: purple;
text-align: center;
}

.transbox p {
	color: purple;
	text-align: center;
}

https://www.youtube.com/watch?v=PN1iMaVfzfQ
